body{
    background-color: #d3939c;

}

.head{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #2eeda2;
}

.newtab a{
    color: #804290;
    font-size: 30px;
    display: block;
    text-align: center;
}